/* hall 設定區 */
/* 設定 section 的樣式 */
.floor-section {
	/* 允許使用絕對定位 */
	position: relative;
	/* 文字置中 */
	text-align: center;
	/* 背景圖像覆蓋區塊 */
	background-size: cover;
	/* 背景圖像置中 */
	background-position: center;
	/* 設定高度為自動 */
	height: auto;
}

/* 背景圖片 */
.floor-bg-color {
	background-image: url('');
}

/* 背景顏色 */
.floor-bg-color {
	background-color: #ffffff;
}

/* info 內容樣式 */
.floor-content {
	/* 背景透明 */
	background-color: transparent;
	/* 最大寬度 */
	max-width: 100%;
	/* 上下外邊距為0，自動水平對齊 */
	margin: 0 auto;
}

.floor-icon {
	width: 7rem;
}

.floor-title {
	font-size: 1.5rem;
}

/* RWD 設定 */
@media ( max-width : 768px) {
}