/* hall 設定區 */
/* 設定 section 的樣式 */
.hall-section {
	/* 允許使用絕對定位 */
	position: relative;
	/* 文字置中 */
	text-align: center;
	/* 背景圖像覆蓋區塊 */
	background-size: cover;
	/* 背景圖像置中 */
	background-position: center;
	/* 設定高度為自動 */
	height: auto;
}

/* 背景圖片 */
.hall-bg {
	background-image: url('');
}

/* info 內容樣式 */
.hall-content {
	/* 背景透明 */
	background-color: transparent;
	/* 最大寬度 */
	max-width: 100%;
	/* 上下外邊距為0，自動水平對齊 */
	margin: 0 auto;
}

/* info 間距樣式 */
.hall-spacing {
	/* 上邊距 */
	margin-top: 2vw;
}

.hall-title {
	font-size: 2.5vw;
	margin-top: 2vw;
}

.hall-text {
	font-size: 1.5vw;
}

.hall-paring-title {
	text-align: left;
	font-weight: bold;
	font-size: 2vw;
}

.hall-paring-text {
	text-align: left;
	font-size: 2vw;
	margin-bottom: 2vw;
}
/* Google 地圖 iframe 樣式 */
.map-iframe {
	width: 100%; /* 設定寬度為100% */
	height: 20vw; /* 設定高度為CSS變數，如果未定義則預設為300px */
	border: 0; /* 移除邊框 */
	allowfullscreen: true; /* 允許全螢幕顯示 */
	loading: lazy; /* 延遲載入 */
	referrerpolicy: no-referrer-when-downgrade; /* 設定 referrer 政策 */
}

/* RWD 設定 */
@media ( max-width : 768px) {
	.hall-title {
		font-size: 6vw;
	}
	.hall-text {
		font-size: 4vw;
	}
	.hall-paring-title {
		font-size: 3vw;
	}
	.hall-paring-text {
		text-align: left;
		font-size: 3vw;
		margin-bottom: 0;
	}
}

/* 在大視窗的時候確保地圖左欄填滿 */
@media ( min-width : 768px) {
	.hall-section .col-6 {
		flex: 0 0 50%; /* 設定彈性盒子項目的基礎尺寸為50% */
		max-width: 50%; /* 設定最大寬度為50% */
	}
}