/* 定義全局變數以便在整個文檔中使用 */
:root {
	/* 定義各元素的字體大小 */
	--info-title-font-size: calc(1.5rem + 1vw);
	--info-box-font-size: calc(1.5rem + 1vw);
	--info-people-name-font-size: calc(1rem + 1vw);
	--info-people-eng-font-size: calc(1rem + 0.1vw);
	--info-date-title-font-size: calc(1rem + 0.5vw);
	--info-date-text-font-size: calc(1rem + 0.5vw);
	--info-place-title-font-size: calc(1rem + 0.5vw);
	--info-place-text-font-size: calc(1rem + 0.5vw);
	/* 在小屏幕設備上調整字體大小 */
	--info-title-font-size-small: calc(1.2rem + 1vw);
	--info-people-name-font-size-small: calc(1rem + 1vw);
	--info-people-eng-font-size-small: calc(0.4rem + 1vw);
	--info-date-title-font-size-small: calc(0.8rem + 1vw);
	--info-date-text-font-size-small: calc(0.8rem + 1vw);
	--info-place-title-font-size-small: calc(0.8rem + 1vw);
	--info-place-text-font-size-small: calc(0.8rem + 1vw);
}

/* info 設定區 */

/* 設定每個 section 的樣式 */
.info-section {
	/* 允許使用絕對定位 */
	position: relative;
	/* 文字置中 */
	text-align: center;
	/* 背景圖像覆蓋區塊 */
	background-size: cover;
	/* 背景圖像置中 */
	background-position: center;
	/* 設定高度為自動 */
	height: auto;
}

/* info 內容樣式 */
.info-content {
	/* 背景透明 */
	background-color: transparent;
	/* 最大寬度 */
	max-width: 100%;
	/* 上下外邊距為0，自動水平對齊 */
	margin: 0 auto;
	margin-top: 2vw;
}

/* info 標題樣式 */
.info-title {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-title-font-size);
	/* 上邊距 */
	margin-top: 2vw;
	/* 下邊距 */
	margin-bottom: 20px;
	/* 粗體 */
	font-weight: bold;
	/* 文字顏色 */
	color: #000;
}

/* info 間距樣式 */
.info-spacing {
	/* 上邊距 */
	margin-top: 0vw;
}

/* info 盒子樣式 */
.info-box {
	/* 背景透明 */
	background-color: transparent;
	/* 圓角 */
	border-radius: 5px;
	/* 內邊距 */
	padding: 0px;
	/* 下邊距 */
	margin-bottom: 0px;
	/* 使用變數定義的字體大小 */
	font-size: var(--info-box-font-size);
	/* 文字顏色 */
	color: #000;
	/* 文字置中 */
	text-align: center;
}

/* 中文名 */
.info-people-name {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-people-name-font-size);
	margin: 0;
}

/* 英文名 */
.info-people-eng {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-people-eng-font-size);
	margin-bottom: 1vw;
}

/* 日期標題 */
.info-date-title {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-date-title-font-size);
	margin-bottom: 0;
}

/* 日期內文 */
.info-date-text {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-date-text-font-size);
	margin-bottom: 2vw;
}

/* 地點標題 */
.info-place-title {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-place-title-font-size);
	margin-bottom: 0;
}
/* 地點內文 */
.info-place-text {
	/* 使用變數定義的字體大小 */
	font-size: var(--info-place-text-font-size);
}

/* 背景圖片樣式 */
.info-bg {
	/* 背景圖片 */
	background-image: url('picture/info.jpg');
	/* 背景圖片覆蓋 */
	background-size: cover;
	/* 背景圖片置中 */
	background-position: center;
	/* 寬度100% */
	width: 100%;
	/* 高度100% */
	height: 100%;
	/* 相對定位 */
	position: relative;
}

/* RWD 設定 */
@media ( max-width : 768px) {
	.info-spacing {
		/* 上邊距調整 */
		/*margin-top: calc(-6vw);*/
		
	}
	.info-title {
		/* 小屏幕設備上的字體大小 */
		font-size: var(--info-title-font-size-small);
		margin-top: 0.5vw;
		margin-bottom: 2vw;
	}
	.info-people-name {
		/* 小屏幕設備上的字體大小 */
		font-size: var(--info-people-name-font-size-small);
		margin: 0;
	}
	.info-people-eng {
		/* 小屏幕設備上的字體大小 */
		font-size: var(--info-people-eng-font-size-small);
		margin-top: -1.8vw;
	}
	.info-date-title {
		/* 小屏幕設備上的字體大小 */
		font-size: var(--info-date-title-font-size-small);
		margin-top: -4vw;
	}
	.info-date-text {
		/* 小屏幕設備上的字體大小 */
		font-size: var(--info-date-text-font-size-small);
	}
	.info-place * {
		/* 小屏幕設備上的字體大小 */
		font-size: var(--info-place-title-font-size-small);
		margin: 0;
	}
}