/* remind 設定區 */
/* 設定 section 的樣式 */
.remind-section {
	/* 允許使用絕對定位 */
	position: relative;
	/* 文字置中 */
	text-align: center;
	/* 背景圖像覆蓋區塊 */
	background-size: cover;
	/* 背景圖像置中 */
	background-position: center;
	/* 設定高度為自動 */
	height: auto;
}

/* 背景顏色 */
.remind-bg-color {
	background-color: #ffffff;
}

/* info 內容樣式 */
.remind-content {
	/* 背景透明 */
	background-color: transparent;
	/* 最大寬度 */
	max-width: 100%;
	/* 上下外邊距為0，自動水平對齊 */
	margin: 0 auto;
}

.remind-title {
	font-size: 2vw;
	margin: 2vw auto;
}

/* info 間距樣式 */
.remind-spacing {
	/* 上邊距 */
	margin-top: 2vw;
}

#bird-yellow, #bird-black, #bird-blue {
	transform: scale(0.7); /* 縮小比例 */
	margin: auto 0.5rem;
}

/* RWD 設定 */
@media ( max-width : 768px) {
	.remind-title {
		font-size: 5vw;
	}
	.col-6.col-md-auto.d-flex.justify-content-center {
		transform: scale(0.6) !important; /* 縮小比例 */
		 margin: auto -10rem; /* 調整左邊距 */
	}
}

@media ( max-width : 863px) {
	.d-flex.flex-wrap {
		flex-wrap: nowrap !important;
	}
	.remind-content .col-6 {
		flex: 1 0 auto;
		max-width: none;
	}
	.col-6.col-md-auto.d-flex.justify-content-center {
		transform: scale(0.8); /* 縮小比例 */
		margin: auto -5rem; /* 調整左邊距 */
	}
}