/* remind 設定區 */
/* 設定 section 的樣式 */
.remind-section {
	/* 允許使用絕對定位 */
	position: relative;
	/* 文字置中 */
	text-align: center;
	/* 背景圖像覆蓋區塊 */
	background-size: cover;
	/* 背景圖像置中 */
	background-position: center;
	/* 設定高度為自動 */
	height: auto;
}

/* 背景圖片 */
.remind-bg-img {
	background-image: url('picture/remind.jpg');
}
/* 背景顏色 */
.remind-bg-color {
	background-color: #f7dec8;
}

/* info 內容樣式 */
.remind-content {
	/* 背景透明 */
	background-color: transparent;
	/* 最大寬度 */
	max-width: 100%;
	/* 上下外邊距為0，自動水平對齊 */
	margin: 0 auto;
}

.remind-title {
	font-size: 2.5vw;
	margin-top: 2vw;
}

/* info 間距樣式 */
.remind-spacing {
	/* 上邊距 */
	margin-top: 2vw;
}

	#bird-yellow, #bird-black {
        	transform: scale(0.7); /* 縮小比例 */
    }

/* RWD 設定 */
@media ( max-width : 768px) {
	.container1 {
		display: inline-block; /* 确保transform能应用在内联元素上 */
		transform: scale(0.3) !important; /* 缩小至80% */
	}
	
	#bird-yellow, #bird-black {
        	transform: scale(0.5); /* 縮小比例 */
    }
}